$display-f: flex;
$pl_big-block: 100px;
$pl_small-block: 10px;
$transition-inline: .2s;
$transition-block: .4s;



*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --bgc-main:  #000000;
    --bgc-blocks: #1DB954;
    --hover: #b91d82;
    --color-text: #fff;
    --note: #fff;
    --some-block:#000000;

}

a{
    text-decoration: none;
    color: var(--color-text);
    margin: 0 5px;
    &:hover{color: #b91d82;}
    &.def{pointer-events: none; cursor:default;}
}

.hint{
    padding: 15px;
    position: absolute;
    top: 100px;
    right: 10%;
    z-index: 5;
    background-color: var(--note);
    width: 200px;
    border-radius: 7px;
    border-left: 5px solid #1DB954;
    display: none;
}
.hint.hint_active{display: block;}
.icon{
    width: 20px;
    height: 20px;
    color: var(--color-text);
    transition: $transition-inline; 
    cursor: pointer;

    &.big{width: 30px;height: 30px;}
}
.icon:hover{color: var(--hover); transform: scale(1.2) }
.but{
    transition: $transition-block;
    width: fit-content;
    background-color: var(--bgc-blocks);
    padding: 5px $pl_small-block + 10;
    color: var(--color-text);
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 20px;

    &:hover{
        transform: scale(1.2);
    }
}
.mini-img{width: fit-content;}

.error{
    z-index: 5;
    opacity: 0;
    display: none;
    padding: $pl_small-block $pl_small-block + 40;
    position: absolute;
    top: 40vh;
    left: 42%;
    background-color: var(--note);
    border-radius: 10px;

    & .but{margin: 10px auto 5px auto;}
}
.error.active{
    display: block;

    &.active-anim{
        opacity: 1;
        transition: $transition-block;
        // animation: open_panel $transition-block;
    }
}
.search{
    padding: $pl_small-block;
    border-radius: 10px;
    background-color: #ffffff66;
    border: none;
    color: var(--color-text);
    font-weight: bold;
}

header{
    justify-content: space-between;
    position: relative;
    z-index: 2;
    box-shadow: 0px 5px 10px 2px #223c5033;
    box-sizing: border-box;
    background-color: var(--bgc-blocks);
    padding: 20px $pl_big-block;
    display: $display-f;
    align-items: center;
    height: 150px;

    .artist{
        display: $display-f;
        align-items: center;
        margin-right: 40%;

        .img_artist-block>img{
            border-radius: 7px;
            max-width: 100px;
            max-height: 100px;


        }
        .artist_name{
            font-weight: bold;
            font-size: 2em;
            color: var(--color-text);
            margin-left: 10px;
        }

    }
    
    .header-option{
        display: $display-f; 
        align-items: center;
        max-width: 400px;
        min-width: 10px;
        justify-content: space-between;
        cursor: pointer;

            .header-option_icon{
                margin: 0 30px;
                width: 50px;
                height: 50px;
                border: 3px solid var(--color-text);
                border-radius: 7px;
                padding: 2px;
                box-sizing: border-box;

                    &>svg{
                        width: 40px;
                        height: 40px;
                        color: var(--color-text);
                    }
            }
    }
    

    #search::placeholder{
        color: #ffffffba;
        font-weight: 100;
    }
    .search-with-icon{
        display: flex;
        align-items: center;
        &>input[type="search"]{margin: 0 5px;}
    }


}

aside
{
    position: absolute;
    top: 0px;
    transition: $transition-block;
    box-sizing: border-box;
    color: var(--color-text);
    background-color: var(--bgc-blocks);


    // width: fit-content;
    text-align: center;
    box-sizing: border-box;
    color: var(--color-text);
    background-color: var(--bgc-blocks);

    &.active{top: 150px;}


    .side_mini-content{
        padding: $pl_small-block;
        display: $display-f;

        div{margin: 0 10px;}
    }
}
main{
    display: $display-f;
    padding: $pl_big-block - 50 $pl_big-block;

    .popul_relz{
        display: $display-f;
        margin: 0 auto;
        width: fit-content;
        position: relative;
    
        .dop-info_block{
            display: none;
            border-radius: 0;
            border-right: 3px solid var(--bgc-blocks);
            padding: 5px $pl_small-block;
            color: var(--color-text);
            background-color: var(--some-block);
            width: 300px;
            height: fit-content;
            position: absolute;
             
        }
        .dop-info_block.active{display: block;}

        .popular{
            box-sizing: border-box;
            background-color: #ffffff98;
            border-radius: 10px;
            width: 300px;
            color: var(--color-text);
            padding: $pl_big-block - 90;
            margin: 50px;
            max-height: 500px;
            height: fit-content;
            min-height: 50px;
            overflow-y: hidden;

            &>.title{text-align: center;font-weight: bold;font-size: 1.2em; padding-bottom: 10px;}
            .content li{
                padding: $pl_small-block $pl_small-block - 5;
                border-bottom: .5px solid #ffffff48;
                display: $display-f;
                align-items: center;

                & img{
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    margin-right: 30px;
                }
                
            }
        }
    }
    
    .texts_template{
        .search_block{
            display: $display-f;

            & input[id='search_songs']{
                margin-right: 10px;
            }
            
        }
        .song_text-block{
            color: var(--color-text);
            margin: 50px 0;
            border-radius: 10px;
            width: fit-content;
            background-color: #7c7c7c33;
            padding: $pl_big-block - 80;
        }
    }
    

    
}

body{
    background-color: var(--bgc-main);

    &::-webkit-scrollbar{width: 5px;}
    &::-webkit-scrollbar-track{background-color: #00000000;}
    &::-webkit-scrollbar-thumb{
        width: 10px;height: 10px;
        background-color: var(--bgc-blocks);
        border-radius: 10px;

    }
}


@media screen and (max-width: 450px) {
    
    
}